.slider {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  &__inner {
   padding: 0 95px;
    @media (max-width: $screen-sm-max) {
      padding: 0 45px;
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    padding: 20px 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    &--hidden {
      display: none;
    }
    &:hover {
      & .slider__icon {
        color: $theme-secondary-color;
        fill:  $theme-secondary-color;
      }
      & .slider__icon--right {
        transform: translate(20%, 0%);
      }
      & .slider__icon--left {
        transform: translate(-20%, 0%) rotate(180deg);
      }
    }
  }
  &__icon {
    font-size: 0;
    display: block;
    color: #878a8b;
    fill: #878a8b;
    transform: translate(0%, 0%);
    transition: 0.2s ease-in-out;
    &--left {
      transform: rotate(180deg);
    }
  }
}


.slick-dots {
  font-size: 0;
  & > li {
  display: inline-block;
    padding: 0 6px;
  }
  & > li > button {
    font-size: 0;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #d8d8d8;
  }
  & > li.slick-active > button {
    background-color: #486cff;
  }
}