.slider {
  position: relative;
  max-width: 915px;
  margin: 0 auto;
  &__inner {
   padding: 0 125px;
    @media (max-width: $screen-sm-max) {
      padding: 0 45px;
    }
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    padding: 20px 0;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    &--hidden {
      display: none;
    }
  }
  &__icon {
    font-size: 0;
    display: block;
    color: #878a8b;
    fill: #878a8b;
    &--left {
      transform: rotate(180deg);
    }
  }
}