.footer {
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }
  justify-content: space-between;
  &__item {
    @media (max-width: $screen-sm-max) {
      text-align: center;
      margin-bottom: 15px;
      width: 100%;
    }
    &--cr {
      color: #87898a;
    }
    &--menu {
      @media (max-width: $screen-lg-max) {
        display: none;
      }
    }
    &--cos {

    }
  }
  &__link {
    @include main-link;
  }
}