@mixin main-link {
  color: $main-nav-link;
  text-decoration: $main-nav-link-dec;
  &:hover {
    color: $main-nav-link-hover;
    text-decoration: $main-nav-link-dec-hover;
    cursor: pointer;
  }
}

@mixin main-dark-link {
  color: $main-nav-dark-link;
  text-decoration: $main-nav-dark-link-dec;
  &:hover {
    color: $main-nav-dark-link-hover;
    text-decoration: $main-nav-dark-link-dec-hover;
    cursor: pointer;
  }
}
//vertical alignment
@mixin absolute-center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// absolute vertical and horizontal align. elemet's height should be set
@mixin absolute-center-margin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* rem-calc function */

@function rem-calc($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

@mixin rem-calc($size) {
  //font-size: $size; //Fallback in px
  font-size: rem-calc($size);
}
@mixin img_retina($standard, $retina) {
  padding-bottom: 20%;
  background-image: url($standard);
  @media  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    background-image: url($retina);
  }
}
