@mixin main-link {
  color: $main-nav-link;
  text-decoration: $main-nav-link-dec;
  &:hover {
    color: $main-nav-link-hover;
    text-decoration: $main-nav-link-dec-hover;
  }
}

//vertical alignment
@mixin absolute-center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// absolute vertical and horizontal align. elemet's height should be set
@mixin absolute-center-margin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}