.page {
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
    background-color: #fff;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 452px;
    }
  }
  &__top {
    position: relative;
    //background-color: $theme-main-color;
    background-color: #0F1315;
    overflow: hidden;
    &.small-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: height .15s linear;
    }
    &--white {
      background-color: #fff;
      //border-bottom: 1px solid $third-border-color;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07);
    }
    & .particles-js-canvas-el {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    & .page__video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 10;
      transform: translate(0%, -100%);
      opacity: 0;
    }
    &--fx-na {
      position: fixed;
      width: 100%;
      z-index: 10;
      opacity: 1;
      & + * {
        padding-top: 72px;
      }
    }
  }
  &__container {
    max-width: $site-max-width;
    padding: 0 $site-gutter;
    margin: 0 auto;
  }
  &__header {
    width: 100%;
    color: #FFFFFF;
    position: relative;
    z-index: 2;

    &--main {
      /*animation*/
      opacity: 0;
    }

    &--white {
      color: $base-font-color;
    }
    &--menu-open {
      position: fixed;
      z-index: 777;
      width: 100%;
    }
  }
  &__hero {
    //background-color: $theme-main-color;
    color: #FFFFFF;
    &--header-photo {
      position: relative;
      z-index: 2;
      background-color: transparent;
    }
  }
  &__footer {
    flex: 0 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;

    //animation
    //opacity: 0;
  }
  &__footer-bottom {
    color: #FFFFFF;
    border-top: 1px solid #2e3538;
    padding: 55px 0 55px;
    background-color: $article-dark-bg;
  }
  &__section {
    &--white {
      background-color: $article-white-bg;
    }
    &--grey {
      background-color: $article-grey-bg;
    }
    &--dark {
      background-color: $article-dark-bg;
      & .main-article__subtitle {
        color: #757879;
      }
      & .main-article__title {
        color: #FFFFFF;
      }
      &__quote {
        color: #FFFFFF;
      }
      & > * {
        color: #FFFFFF;
      }
    }
    &--sm {
      padding: 85px 0;
    }
    &--no-padding {
      padding: 0 0;
    }

    &--review {
      padding: 140px 0 105px;
      @media (max-width: $screen-md-max) {
        padding: 70px 0 53px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 35px 0 26px;
      }
    }
    /* Cases articles */
    &--ui-design {
      padding: 96px 0 134px;
      @media (max-width: $screen-md-max) {
        padding: 48px 0 67px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 32px 0 45px;
      }
    }
    &--landing {
      padding: 119px 0 139px;
      @media (max-width: $screen-md-max) {
        padding: 60px 0 70px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 40px 0 47px;
      }
    }
    &--development, &--result {
      padding: 120px 0;
      @media (max-width: $screen-md-max) {
        padding: 60px 0;
      }
      @media (max-width: $screen-sm-max) {
        padding: 40px 0 40px;
      }
    }
    &--photo {
      font-size: 0;
    }
    &--review {
      padding: 120px 0 97px;
      @media (max-width: $screen-md-max) {
        padding: 60px 0 50px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 40px 0 43px;
      }
    }
    &--similar {
      padding: 107px 0 102px;
      @media (max-width: $screen-md-max) {
        padding: 53px 0 51px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 32px 0 33px;
      }
    }
    &--team {
      background-color: #616f75;
      position: relative;
    }
  }
  &__contact {
    background-color: #f5f5f5;
  }
  &__contact-info {
    padding: 15px 0 15px;
    //padding: 4.583vw 0 2.1875vw;
    @media (max-width: $screen-lg-max) {
      padding: 40px 0 20px;
    }
    background-color: #f5f5f5;
  }
  &__contact-item {
    background-color: #f5f5f5;
    padding: 60px 0;
    padding: 3.125vw 0 3.125vw;
    &--follow {
      background-color: #fff;
      padding: 135px 0;
      padding: 7vw 0 7vw;
    }
    &--offices {
      padding: 60px 0 120px 0;
      padding: 3.125vw 0 6.25vw;
    }
    @media (max-width: $screen-lg-max) {
      padding: 30px 0 30px;
    }
    &:first-child {
      padding: 120px 0 60px 0;
      padding: 6.25vw 0 3.125vw;
      @media (max-width: $screen-lg-max) {
        padding: 60px 0 30px;
      }
    }
    &:last-child {
      padding: 60px 0 120px 0;
      padding: 3.125vw 0 6.25vw;
      @media (max-width: $screen-lg-max) {
        padding: 30px 0 60px;
      }
    }
  }
  &__blog-tools {
    background-color: #101517;
    padding: 30px 0;
    margin-bottom: 110px;
  }
  &__blog-articles {
    margin-bottom: 58px;
  }
  &__pagination {
    margin-bottom: 127px;
    text-align: center;
  }
  &__header-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  &__header-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    /* Animation */
    //opacity: 0;
    //z-index: 1;
    //animation-name: imageAnimation;
    //animation-timing-function: linear;
    //animation-iteration-count: infinite;
    //animation-duration: 50s;

    &--first {
      background-image: url("../img/test-4.jpg");
    }
    &--second {
      background-image: url("../img/test-1.jpg");
      animation-delay: 10s;
    }
    &--third {
      background-image: url("../img/test-2.jpg");
      animation-delay: 20s;
    }
    &--fourth {
      background-image: url("../img/test-3.jpg");
      animation-delay: 30s;
    }
    &--fifth {

      background-image: url("../img/about_us.jpg");
      @media  only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
        background-image: url("../img/about_us@1.jpg");
      }
      animation-delay: 40s;
    }
  }
  &__bcg {
    background: no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;

    background-color: #0F1315;
  }
  &__services-hero {
    //opacity: 0;
  }
  &__bottom {
    height: 0;
  }
  &__photo {
    overflow: hidden;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in
  }

  5% {
    opacity: 1
  }

  20% {
    opacity: 1
  }

  25% {
    opacity: 0;
    animation-timing-function: ease-out;
    transform: scale(1.2);
  }

  to {
    opacity: 0
  }
}