.page {
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    flex: 1 0 auto;
  }
  &__container {
    max-width: $site-max-width;
    padding: 0 $site-gutter;
    margin: 0 auto;
  }
  &__header {
    background-color: $theme-main-color;
    color: #FFFFFF;
    &--menu-open {
      position: fixed;
      z-index: 9999;
      width: 100%;
    }
  }
  &__hero {
    background-color: $theme-main-color;
    color: #FFFFFF;
  }
  &__footer {
    background-color: #101517;
    height: 571px;
    color: #FFFFFF;
    flex: 0 0 auto;
  }
  &__article {
    &--white {
      background-color: $article-white-bg;
    }
    &--grey {
      background-color: $article-grey-bg;
    }
    &--dark {
      background-color: $article-dark-bg;
      & .main-article__subtitle {
        color: #757879;
      }
      & .main-article__title {
        color: #FFFFFF;
      }
    }
    &--sm {
      padding: 85px 0;
    }
  }
}