//--------------------------------------------------
//--------------------------------------------------
//Base
//--------------------------------------------------
//--------------------------------------------------

//Size
$site-max-width:                  1440px;
$site-gutter:                     20px;

//Theme
$theme-main-color:                #161C26;
$theme-secondary-color:           #486CFF;
$theme-third-color:               #F5F5F5;

//Font
$base-font-family:                'Montserrat', sans-serif;
$base-font-color:                 #101517;
$base-font-color-secondary:       #000;
$base-font-color-third:           #616F75;
$base-font-size:                  16px;
$base-line-height:                1.6;

//Links
$main-nav-link:                   #FFFFFF;
$main-nav-link-dec:               none;
$main-nav-link-hover:             #FFFFFF;
$main-nav-link-dec-hover:         none;

//Helpers
$base-border-color:               #F5F5F5;
$second-border-color:             #ABB8BE;
$base-box-shadow-color:           #EDEDED;


//Breakpoints
$screen-lg-max:                   1200px;
$screen-lg-min:                   1201px;

$screen-md-max:                   992px;
$screen-md-min:                   993px;

$screen-sm-max:                   768px;
$screen-sm-min:                   769px;

$screen-xs-max:                   480px;
$screen-xs-min:                   481px;


//Main articles
$article-white-bg:                #fff;
$article-grey-bg:                 #F5F5F5;
$article-dark-bg:                 #101517;

// Buttons
$main-btn-bg:                     $theme-secondary-color;
$main-btn-bg-hover:               $theme-secondary-color;
$main-btn-color:                  #fff;

