//--------------------------------------------------
//--------------------------------------------------
//Base
//--------------------------------------------------
//--------------------------------------------------

//Size
$site-max-width:                  1440px;
$site-gutter:                     20px;

//Theme
$theme-main-color:                #161C26;
$theme-secondary-color:           #486CFF;
$theme-third-color:               #F5F5F5;

//Font
$base-font-family:                'Montserrat', sans-serif;
$base-font-color:                 #101517;
$base-font-color-secondary:       #000;
$base-font-size:                  16px;
$base-line-height:                1.6;

//Links
$main-nav-link:                   #FFFFFF;
$main-nav-link-dec:               none;
$main-nav-link-hover:             #FFFFFF;
$main-nav-link-dec-hover:         none;


//Helpers
$base-border-color:               #F5F5F5;
$second-border-color:             #ABB8BE;
$base-box-shadow-color:           #EDEDED;

