.chess-list {
  //padding-top: 57px;

  &__frame{

    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    text-align: center;
    padding-bottom: 198%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &--life-1 {
      background-image: url("../img/lfm_map.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/lfm_map@1x.png");
      }
    }

    &--life-2 {
      background-image: url("../img/lfm_profile.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/lfm_profile@1x.png");
      }
    }

    &--life-3 {
      background-image: url("../img/lfm_tests.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/lfm_tests@1x.png");
      }
    }

    &--msfit-1 {
      background-image: url("../img/msfit_main.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/msfit_main@1x.png");
      }
    }

    &--msfit-2 {
      background-image: url("../img/msfit_profile.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/msfit_profile@1x.png");
      }
    }

    &--msfit-3 {
      background-image: url("../img/msfit_training.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/msfit_training@1x.png");
      }
    }

    &--sprout-1 {
      background-image: url("../img/sprout_account.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/sprout_account@1x.png");
      }
    }

    &--sprout-2 {
      background-image: url("../img/sprout_map.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/sprout_map@1x.png");
      }
    }

    &--sprout-3 {
      background-image: url("../img/sprout_rows.png");
      @media (max-width: $screen-xxl-max) {
        background-image: url("../img/sprout_rows@1x.png");
      }
    }

  }
  &__item {
    display: flex;
    align-items: center;
    //max-width: 845px;
    margin: 0 auto;
    justify-content: center;
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
    &:nth-child(2n+2) {
      & .chess-list__desc {
        order: 1;
      }
      & .chess-list__photo {
        order: 2;
        margin-left: 28px;
        &--tab {
          margin-left: 150px;
          @media (max-width: $screen-xl-max) {
            margin-left: 28px;
          }
          @media (max-width: $screen-sm-max) {
            margin-left: 15px;
          }
          @media (max-width: $screen-xs-max) {
            margin-left: 0;
          }
        }
        @media (max-width: $screen-sm-max) {
          margin-left: 15px;
        }
        @media (max-width: $screen-xs-max) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
    &:nth-child(2n+1) {
      & .chess-list__desc {
        order: 2;
        margin-left: 40px;
        @media (max-width: $screen-sm-max) {
          margin-left: 10px;
        }
        @media (max-width: $screen-xs-max) {
          margin-left: 0;
          order: 1;
        }
      }
      & .chess-list__photo {
        order: 1;
        margin-right: 40px;
        &--tab {
          margin-right: 150px;
          @media (max-width: $screen-xl-max) {
            margin-right: 40px;
          }
          @media (max-width: $screen-sm-max) {
            margin-right: 10px;
          }
          @media (max-width: $screen-xs-max) {
            margin-right: 0;
          }
        }
        @media (max-width: $screen-sm-max) {
          margin-right: 10px;
        }
        @media (max-width: $screen-xs-max) {
          margin-right: 0;
          order: 2;
          width: 100%;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &--tab {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }
  &__photo {
    @media (min-width: $screen-xs-min) {
      flex-basis: 302px;
    }
    &--tab {
      @media (min-width: $screen-lg-min) {
        flex-basis: 740px;
      }
    }
  }
  &__desc {
    @media (min-width: $screen-xs-min) {
      flex-basis: 402px;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.375;
    margin-bottom: 25px;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__info {
    line-height: 2;
    margin-bottom: 44px;
    @media (max-width: $screen-xs-max) {
      text-align: justify;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 15px;
    font-size: 0;
    max-width: 52px;
    max-height: 73px;
  }
  &__footer-title {
    font-weight: 400;
    line-height: 1.5;
    color: #a5724d;
    &--brown {
      color: #4f331f;
    }
    &--green {
      color: #4e9031;
    }
    &--blue {
      color: #609fef;
    }
    &--pink {
      color: #d34edb;
    }
    &--violet {
      color: #6f41d9;
    }
    &--red {
      color: #e54e49;
    }
    &--lime {
      color: #40CD8C;
    }
  }
}