.disciplines {
  background-color: #FFFFFF;
  box-shadow: 0 22px 24px 0 #EDEDED;
  padding: 20px 68px 30px 68px;
  &__title {
    line-height: 57px;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
  }
  &__list {
    font-size: 1rem;
    line-height: 38px;
  }
  &__item {

  }
  &__count {
    color: #486CFF;
    padding-right: 14px;
  }
  &__name {
    color: #101517;
  }
}