.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    &--lg {
      //flex-basis: 800px;
      //flex-basis: 57.1%;
      flex-basis: 58.3%;
      @media (max-width: $screen-xs-max) {
        flex-basis: 100%;
      }
    }
    &--sm {
      //flex-basis: 558px;
      //flex-basis: 39.8%;
      flex-basis: 41%;
      @media (max-width: $screen-xs-max) {
        flex-basis: 100%;
      }
    }
  }
  &__half-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  &__large {
    font-size: 0;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
  &__small {
    font-size: 0;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}
.msfit__overview{
  width: 100%;
  height: 820px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  @media screen and (max-width: 1000px){
    flex-direction: column;
  }
  &-large-image{
    box-sizing: border-box;
    width: 57%;
    height: 100%;
    background: url("../img/msfit_1@1x.jpg")no-repeat center center;
    background-size: cover;
    margin-right: 1rem;
    @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
      background: url("../img/msfit_1.jpg")no-repeat center center;
      background-size: cover;
    }
    @media screen and (max-width: 1000px){
      width: 100%;
      margin: 0 0 1rem 0;
    }
    @media screen and (max-width: 640px){
      height: 50%;
    }
  }
  &-small-images-box{
    box-sizing: border-box;
   width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & > div:first-child{
      margin-bottom: 1rem;
    }
    @media screen and (max-width: 1000px){
      width: 100%;
      flex-direction: row;
      & > div:first-child{
        margin: 0 1rem 0 0;
      }
    }
    @media screen and (max-width: 640px){
      width: 100%;
      flex-direction: column;
      & > div:first-child{
        margin: 0 0 1rem 0;
      }
    }
  }
  &-small-image-top{
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background: url("../img/msfit_2@1x.jpg")no-repeat center center;
    @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
      background: url("../img/msfit_2.jpg")no-repeat center center;
      background-size: cover!important;
    }
  }
  &-small-image-bottom{
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background: url("../img/msfit_3@1x.jpg")no-repeat center center;
    @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
      background: url("../img/msfit_3.jpg")no-repeat center center;
      background-size: cover!important;
    }
  }
}