.map {
  text-align: center;
  //margin-bottom: 55px;
  max-width: 877px;
  margin: 0 auto 55px;
  position: relative;
  padding-bottom: 37%;
  //max-height: 100%;
  max-height: 518px;
  overflow: hidden;
  &__wrapp {
    display: inline-block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: inherit;
  }
}

#map-pin {
  animation: pinAnimation 1.7s ease-in-out 0.9s infinite;
}


@keyframes pinAnimation {
  0% {
    opacity: 0;
    stroke-width: 0;
    stroke-opacity: 0;
    //transform: scale(1);
  }

  100% {
    opacity: 1;
    stroke-width: 30;
    stroke-opacity: 0.5;
    //transform: scale(1.2);
  }
}