.similar-case {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $screen-lg-max) {
      justify-content: center;
    }
  }
  &__item {
    position: relative;
    top: 0;
    transition: 0.2s ease-in-out;
    flex-basis: 50%;
    width: 50%;

    &:nth-child(2n+1) {
      padding-right: 20px;
    }
    &:nth-child(2n+2) {
      padding-left: 20px;
    }
    &:hover {
      top: -10px;
      .similar-case__arrow {
        display: inline-block;
        opacity: 1;
        transform: translateX(20px);
      }
    }
    @media (max-width: $screen-lg-max) {
      flex-basis: 768px;
      width: 100%;
      &:nth-child(2n+1) {
        padding-right: 0;
      }
      &:nth-child(2n+2) {
        padding-left: 0;
      }
      &:not(:last-child) {
        padding-bottom: 20px;
      }
    }
    @media (max-width: $screen-sm-max) {
      flex-basis: 100%;
      width: 100%;
    }
    &--roundlaw {
      & .similar-case__inner {
        background-color: #603f1d;
        background-image: url(../img/round-law-similar.png );
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
      }
      &:hover .similar-case__inner {
        box-shadow: 0 10px 14px rgba(174, 172, 172, 0.5);
      }
    }
    &--life {
      & .similar-case__inner {
        background-color: #3c55bc;
        background-image: url(../img/life4fit-similar.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
      }
      &:hover .similar-case__inner {
        background-color: #4f71fb;
        box-shadow: 0 10px 14px rgba(174, 172, 172, 0.5);
      }
    }
    &--msfit {
      & .similar-case__inner {
        background-color: #7250d5;
        background-image: url("../img/msfit.png");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
      }
      &:hover .similar-case__inner {
        background-color: #7a57e0;
        box-shadow: 0 10px 14px rgba(174, 172, 172, 0.5);
      }
    }
  }
  &__inner {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    max-height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
    @media (max-width: $screen-xs-max) {
      padding-bottom: 90%;
    }
  }
  &__head {
    position: absolute;
    top: 13.8%;
    left: 5.9%;
    @media (max-width: $screen-xs-max) {
      position: relative;
      left: 0;
      right: 0;
      padding-left: 40px;
      padding-top: 40px;
    }
  }
  &__name {
    margin-bottom: 9px;
    font-size: 0;
    vertical-align: middle;
  }
  &__title {
    font-size: 38px;
    font-weight: 200;
    line-height: 44px;
    vertical-align: middle;
  }
  &__arrow {
    width: 16px;
    height: 16px;
    background: url(../svg/arrow.svg);
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.2s ease-in-out 0.1s;
  }
  &__platform {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
  }
  &__footer {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
    position: absolute;
    bottom: 43px;
    left: 5.9%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}