.contact-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  max-width: 920px;
  margin: 0 auto;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
  &__item {
    text-align: center;
    @media (max-width: $screen-sm-max) {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
  &__title {
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.375;
    margin-bottom: 11px;
    color: #000;
    text-transform: uppercase;
  }
  &__list {
    display: block;
  }
  &__info {
    display: block;
    padding: 13px 0;
  }
  &__link {
    text-decoration: none;
    color: #101517;
    font-weight: 300;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    &:hover {
      color: $theme-secondary-color;
    }
  }
}