.header {
  &__container {
    padding: 27px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &--white {
      padding: 38px 0;
    }
  }
  &__logo {
    font-size: 0;
  }
}