.main-nav {
  @media (max-width: $screen-lg-max) {
    display: none;
  }
  &__items {
    font-size: 0;
  }
  &__item {
    font-size: 0.75rem;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__link {
    @include main-link;
    text-transform: uppercase;
    font-weight: 400;
    //font-family:  $base-font-family-medium;
    letter-spacing: 1px;
    line-height: 1.5;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 2px;
      margin-top: 4px;
      left: 0;
      top: 100%;
      background-color: $theme-secondary-color;
      transition: 0.2s ease-in-out;
    }
    &:hover:after {
      width: 100%;
    }
    &--white {
      @include main-dark-link;
    }
    &--active {
      cursor: text;
      &:after {
        width: 100%;
      }
      &:hover {
        cursor: text;
      }
    }
  }
}