.hero {
  //height: 718px;
  &__title {
    color: #FFFFFF;
    font-weight: 500;

    /*animation*/
    //opacity: 0;
    //transform: translateY(45px);

    //font-family: $base-font-family-light;

    line-height: 1.33333333;
    position: relative;
    padding-bottom: 153px;
    font-size: responsive 1.9rem 3.75rem;
    font-range: 480px 1280px;
    @media (min-width: $screen-xxl-min) {
      font-size: 4.375rem;
    }
    @media (max-width: $screen-sm-max) {
      padding-bottom: 100px;
    }
    @media (max-width: $screen-xs-max) {
      padding-bottom: 65px;
    }
  }
  &__icon {
    position: absolute;
    display: block;
    width: 105px;
    height: 4px;
    background-color: $theme-secondary-color;
    bottom: 45px;
    left: 50%;
    margin-left: -52px;

    /*animation*/
    //opacity: 0;
    //transform: translateY(45px);
  }
  &__container {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    @media (min-width: $screen-xxl-min) {
      max-width: 850px;
    }
    padding: 0 20px;
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    text-align: center;
    padding-bottom: 70%;
    @media (max-width: $screen-xxl-max) {
      padding-bottom: 51%;
    }
  }
  &__inner {
    display: inline-block!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-height: inherit;
    z-index: 1;
  }
}