.hero {
  //height: 718px;
  &__title {
    color: #FFFFFF;
    font-weight: 200;
    line-height: 5rem;
    position: relative;
    padding-bottom: 153px;
    font-size: responsive 2.5rem 3.75rem;
    font-range: 980px 1280px;
    @media (max-width: $screen-sm-max) {
      padding-bottom: 100px;
    }
    @media (max-width: $screen-xs-max) {
      padding-bottom: 65px;
    }
  }
  &__icon {
    position: absolute;
    display: block;
    width: 105px;
    height: 4px;
    background-color: $theme-secondary-color;
    bottom: 45px;
    left: 50%;
    margin-left: -52px;
  }
  &__container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;

    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 51%;
    max-height: 100%;
    text-align: center;
  }
  &__inner {
    display: inline-block!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-height: inherit;
  }
}