.btn {
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-lg {
  padding: 15px 10px;
}

.btn-md {
  padding: 11px 10px;
}

.btn-sm {
    padding: 3px 21px;
}

.btn-main {
  @extend .btn;
  @extend .btn-lg;
  width: 235px;
  text-align: center;
  background: $main-btn-bg;
  border-radius: 28px;
  font-size: 0;
  transition: 0.3s ease-in-out;
  &__title {
    color: $main-btn-color;
    font-size: 1.125rem;
    line-height: 1.44444444;
    font-weight: 500;
  }
  &:hover {
    background: $main-btn-bg-hover;
  }
}

.btn-transparent {
  @extend .btn;
  @extend .btn-md;
  width: 250px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #838586;
  &__title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    &--black {
      color: #101517;
    }
  }
  &__icon {
    display: inline-block;
    fill: #fff;
    color: #fff;
    vertical-align: middle;
    margin-right: 14px;
    &--appstore {
      width: 28px;
      height: 35px;
      background: url(../svg/appstore.svg);
    }
    &--playmarket {
      width: 30px;
      height: 33px;
      background: url(../svg/playmarket.svg);
    }
  }
  &--inline {
    margin: 0 20px;
    vertical-align: top;
    @media (max-width: $screen-sm-max) {
      margin: 0 0;
      display: block;
      margin: 0 auto;
      & + & {
        margin-top: 20px;
      }
    }
  }
}

.btn-tag {
  @extend .btn;
  @extend .btn-sm;
  border: 1px solid #e2e5e6;
  color: #0061ff;
  border-radius: 16px;
}

.btn-cases {
  @extend .btn;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 0;
  &__name {
    line-height: 1.5;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
    font-weight: 500;
  }
  &_icon {
    width: 16px;
    height: 16px;
    background: url(../svg/arrow.svg);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 10px;
  }
}