.btn {
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-lg {
  padding: 15px 10px;
}

.btn-md {
  padding: 13px 10px;
}

.btn-sm {

}

.btn-main {
  @extend .btn;
  @extend .btn-lg;
  width: 235px;
  text-align: center;
  background: $main-btn-bg;
  border-radius: 28px;
  font-size: 0;
  transition: 0.5s ease-in-out;
  &__title {
    color: $main-btn-color;
    font-size: 1.125rem;
    line-height: 1.44444444;
    font-weight: 500;
  }
  &:hover {
    background: $main-btn-bg-hover;
  }
}

.btn-transparent {
  @extend .btn;
  @extend .btn-md;
  width: 290px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #838586;
  &__title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    &--black {
      color: #101517;
    }
  }
  &--inline {
    margin: 0 20px;
    vertical-align: top;
    @media (max-width: $screen-sm-max) {
      margin: 0 0;
      display: block;
      margin: 0 auto;
      & + & {
        margin-top: 20px;
      }
    }
  }
}