.latest-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px;
  &__item {
    padding: 0 8px 0 8px;
    //flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.33333%;
    width: 100%;
    position: relative;
    @media (max-width: $screen-md-max) {
      flex-basis: 50%;
      margin-bottom: 16px;
    }
    @media (max-width: $screen-sm-max) {
      flex-basis: 100%;
    }
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__card {
    display: block;
    height: 525px;
    text-decoration: none;
    color: #fff;
    padding: 40px;
    &--violet {
      background-color: #7250D5;
    }
    &--green {
      background-color: #62A544;
    }
    &--blue {
      background-color: #486CFF;
    }
  }
  &__title {
    font-size: 2.75rem;
    line-height: 1.22727273;
    font-weight: 200;
  }
  &__subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.85714286;
  }
  &__img {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    top: 150px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    &--violet {
      //background-image: url(/img/msFit.png);
      background-image: url(/img/msfit.jpg);
    }
    &--green {
      //background-image: url(/img/sproutThere.png);
      background-image: url(/img/sprout.jpg);
    }
    &--blue {
      //background-image: url(/img/life4me.png);
      background-image: url(/img/life4me.jpg);
    }
  }
}