.technology-list {
  /*animation*/
  opacity: 0;
  transform: translateY(45px);
  @media (max-width: $screen-md-max) {
    display: none;
  }
  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    padding: 0 20px;
    flex-basis: 275px;
    max-width: 275px;
  }
  &__title {
    font-weight: 500;
    color: $base-font-color-secondary;
    letter-spacing: 2px;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 2.86;
    color: #2B2935;
    display: block;
    text-transform: lowercase;
  }
}