.action-project {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 195px 0 181px;
  padding: 10.15625vw 0 9.42708333vw;

  &--main {
    /*animation*/
    opacity: 0;
    transform: translateY(45px);
  }

  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  &__name {
    font-size: 2rem;
    line-height: 1.21875;
    vertical-align: middle;
  }
  &__arrow {
    width: 16px;
    height: 16px;
    background: url(../svg/arrow.svg);
    display: inline-block;
    opacity: 0;
    transition: all 0.2s ease-in-out 0.1s;
    vertical-align: middle;
  }
  &:hover {
    background-color: #486cff;
    .action-project__arrow {
      display: inline-block;
      opacity: 1;
      transform: translateX(20px);
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 60px 0 60px;
  }
  &__title {
    font-size: 0;
    vertical-align: middle;
  }
}