.hero-cases {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 36%;
  max-height: 100%;
  text-align: center;

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &--not-fixed {
    background-attachment: inherit;
  }
  &--about {
    background-image: url("../img/selecto-photo.jpg");
    padding-bottom: 32%;
  }

  &--bottom {
    padding-bottom: 28%;
  }
  &--sprout {
    background-image: url("../img/sprout-hero.jpg");
  }
  &--sprout-bot {
    background-image: url("../img/sprout-big-photo.jpg");
  }
  &--msfit {
    background-image: url("../img/msfit-hero.jpg");
  }
  &--msfit-bot {
    background-image: url("../img/msfit-big-photo.jpg");
  }
  &--life {
    background-image: url("../img/msfit-hero.jpg");
  }
  &__img {
    display: inline-block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: inherit;
  }
}