.visible-only-mobile {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  /*
--------------------------------------------------
  WORK PAGE
--------------------------------------------------
*/
  //============================================================
  //====================CASES
  //============================================================
  .cases-list {

    &__title {
      text-align: left;
      font-size: 2rem;
      font-weight: 600;
      line-height: 48px;
    }

    &__info {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0;
    }

    &__item {
      padding-bottom: 56px;
    }

    &__desc {
      margin-bottom: 0;
    }

    &__photo {
      width: 80%;
    }

    &__item {

      &:nth-child(2) {

        .cases-list {

          &__photo {
            margin-bottom: 8px;
          }
        }
      }

      &:nth-child(2n+2) {
        .cases-list {
          &__photo {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .cases-tags {

    &__link {
      font-size: 0.75rem;
      padding: 4px 20px;
    }

    &__item {
      margin-bottom: 0;
    }
  }


  //============================================================
  //==================== FOOTER
  //============================================================
  .action-project {
    padding-top: 56px;
    padding-bottom: 56px;
    &__name {
      color: #f5f5f5;
      font-size: 24px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 1px;
    }
    &__arrow {
      display: none;
    }
  }

  .footer {
    &__item {

      &--cr {
        font-size: 14px;
        margin-bottom: 0;
        order: 3;
      }

      &--soc {
        order: 2;
      }
    }
  }

  //============================================================
  //==================== HEADER
  //============================================================
  .header-mobile {
    transition: all 0.4s ease !important;

    &.nav-down {

    }

    &.nav-up {
      transform: translateY(-100%);
    }

    .header__container--white {
      padding: 12px 0;
    }

    + .case-container {
      padding-top: 50px;
    }
  }

  .page__header {
    width: 100% !important;
  }

  .page__header--menu-open {
    top: 5px;
    #Selecto-logo {
      fill: #fff;
    }
  }

  /*
--------------------------------------------------
  SPROUT
--------------------------------------------------
*/
  .main-article {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
      color: #101517;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

  .hero-cases {

    &--sprout {
      height: 632px;
      background-size: 165%;
      background-position: 50% 30% !important;
    }
  }

  .case-article {

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 24px;
      letter-spacing: -1px;
    }

    &__desc {
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }

  .overview-case {
    padding-top: 56px;
    padding-bottom: 56px;

    &__content {
      padding-top: 0;
      margin-bottom: 40px;
    }
  }

  .case-prop {

    &__item {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      padding: 0;
      margin-bottom: 8px;
      order: 2;

      &:nth-child(2) {
        order: 3;
      }
    }

    &__name {
      padding-left: 25px;
      font-weight: 300;
    }

    &__value {
      max-width: 55%;
      width: 100%;
      text-align: left;
    }
  }

  .sprout, .msfit {

    &__overview {
      flex-direction: row;
      height: auto;
    }

    &__overview-large-image {
      margin-right: 8px;
    }

    &__overview-large-image, &__overview-small-images-box {
      height: 200px;
    }

    &__overview-large-image {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
    }

    &__overview-small-images-box {
      width: 136px;

      > div {
        overflow: hidden;
      }
    }

    &__overview-small-images-box > div:first-child {
      margin-bottom: 8px;
    }
  }

  .page__section--ui-design {
    &.page__section--grey {
      padding-top: 56px;
    }
  }

  .page__section--ui-design {
    padding-bottom: 40px;
  }

  .interface-slide-sprout {
    font-size: 14px !important;
    padding-bottom: 20px;

    &__img {
      max-width: 190px;
      width: 100%;
      margin: 0 auto;
      height: 376px;
      background-size: contain;
    }

    &__head {
    }

    &__title {
      color: #101517;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      margin-top: 24px;
    }

    &__text {
      color: #101517;
      font-size: 8px !important;
      font-weight: 300;
      line-height: 16px;
    }
  }

  .mobile-slider {

    &--sprout {
      background-color: #f5f5f5;

      .slider__arrow {
        top: 25%;
      }

      .slick-dots {
        display: none !important;
      }
    }
  }

  .page__section--landing,
  .page__section--development {
    padding-top: 56px;
  }

  .page__section--development {

    .case-article__desc {
      margin-bottom: 0;
    }
  }

  .page__section--photo {
    min-height: 160px;
    .hero-cases--bottom {
      height: 100%;
      padding-bottom: 44%;
    }
  }

  .page__section--review {
    padding-top: 56px;

    .review__head {
      margin-bottom: 24px;
    }

    .review__footer {
      margin-bottom: 0;
    }
  }

  .page__section--result {
    padding-top: 56px;

    .count-up {

      &__list {
        display: flex;
      }

      &__item {
        flex: 1 1;
      }

      &__number {
        letter-spacing: 1px;
      }
      &__ico {
        margin: 0;
      }
      &__name {
        font-size: 12px;
        font-weight: 300;
      }
    }

    .count-up__number {
      font-size: 36px;
      font-weight: 200;
      letter-spacing: -1px;
    }

    .case-article__footer {
      margin-top: 40px;
    }
  }

  .hero-cases--msfit-bot, .hero-cases--lfm-bot {
    background-size: 100% !important;
  }
  .hero-cases.hero-cases--lfm-bot {
    background-position: 100% !important;
  }

  .slick-track {
    margin: 0 auto;
  }

  .footer-soc__list {
    transform: scale(1.4);
  }
    /*
  --------------------------------------------------
    COMMON STYLE
  --------------------------------------------------
  */
  br {
    display: none;
  }
  .page__container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .visible-only-mobile {
    display: block !important;
  }

  .hidden-if-mobile {
    display: none !important;
  }

  .text-center {
    text-align: center;
  }

  .font-size-none {
    font-size: 0;
  }

  //============================================================
  //====================OFFSETS
  //============================================================
  .offset-bottom {
    &--lg {
      margin-bottom: 56px;
    }

    &--md {
      margin-bottom: 40px;
    }

    &--sm {
      margin-bottom: 24px;
    }

    &--xs {
      margin-bottom: 16px;
    }
  }

  .offset-top {
    &--lg {
      margin-top: 56px;
    }

    &--md {
      margin-top: 40px;
    }

    &--sm {
      margin-top: 24px;
    }

    &--xs {
      margin-top: 16px;
    }
  }
}
@media screen and (max-width: 600px) {
  .hero-cases {
    height: 432px;
    background-size: 315%;
    background-position: 50% 30% !important;
    &--life {
      background-size: 274%;
      background-position: 57% 36% !important;
    }
  }
}