.visible-only-mobile {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  /*
--------------------------------------------------
  WORK PAGE
--------------------------------------------------
*/
  //============================================================
  //====================CASES
  //============================================================
  .cases-list {

    &__title {
      text-align: left;
      font-size: 2rem;
      font-weight: 600;
      line-height: 48px;
    }

    &__info {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0;
    }

    &__item {
      padding-bottom: 56px;
    }

    &__desc {
      margin-bottom: 0;
    }

    &__photo {
      width: 80%;
    }

    &__item {

      &:nth-child(2) {

        .cases-list {

          &__photo {
            margin-bottom: 8px;
          }
        }
      }

      &:nth-child(2n+2) {
        .cases-list {
          &__photo {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .cases-tags {

    &__link {
      font-size: 0.75rem;
      padding: 4px 20px;
    }

    &__item {
      margin-bottom: 0;
    }
  }

  //============================================================
  //==================== FOOTER
  //============================================================
  .action-project {
    padding-top: 56px;
    padding-bottom: 56px;
    &__name {
      color: #f5f5f5;
      font-size: 24px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 1px;
    }
    &__arrow {
      display: none;
    }
  }

  .footer {
    &__item {

      &--cr {
        font-size: 14px;
        margin-bottom: 0;
        order: 3;
      }

      &--soc {
        order: 2;
      }
    }
  }

  //============================================================
  //==================== HEADER
  //============================================================
  .header-mobile {
    transition: all 0.4s ease !important;

    &.nav-down {

    }

    &.nav-up {
      transform: translateY(-100%);
    }

    .header__container--white {
      padding: 12px 0;
    }

    + .case-container {
      padding-top: 50px;
    }
  }

  .page__header {
    width: 100% !important;
  }

  .page__header--menu-open {
    top: 5px;
    #Selecto-logo {
      fill: #fff;
    }
  }

  /*
--------------------------------------------------
  SPROUT
--------------------------------------------------
*/
  .main-article {
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
      color: #101517;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 0;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

  .hero-cases {

    &--sprout {
      height: 632px;
      background-size: 165%;
      background-position: 50% 30% !important;
    }
  }

  .case-article {

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 24px;
      letter-spacing: -1px;
    }

    &__desc {
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }

  .overview-case {
    padding-top: 56px;
    padding-bottom: 56px;

    &__content {
      padding-top: 0;
      margin-bottom: 40px;
    }
  }

  .case-prop {

    &__item {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      padding: 0;
      margin-bottom: 8px;
      order: 2;

      &:nth-child(2) {
        order: 3;
      }
    }

    &__name {
      padding-left: 25px;
      font-weight: 300;
    }

    &__value {
      max-width: 55%;
      width: 100%;
      text-align: left;
    }
  }

  .sprout, .msfit {

    &__overview {
      flex-direction: row;
      height: auto;
    }

    &__overview-large-image {
      margin-right: 8px;
    }

    &__overview-large-image, &__overview-small-images-box {
      height: 200px;
    }

    &__overview-large-image {
      width: 200px;
      height: 200px;
      margin-bottom: 0;
    }

    &__overview-small-images-box {
      width: 136px;

      > div {
        overflow: hidden;
      }
    }

    &__overview-small-images-box > div:first-child {
      margin-bottom: 8px;
    }
  }

  .page__section--ui-design {
    &.page__section--grey {
      padding-top: 56px;
    }
  }

  .page__section--ui-design {
    padding-bottom: 40px;
  }

  .interface-slide-sprout {
    font-size: 14px !important;
    padding-bottom: 20px;

    &__img {
      max-width: 190px;
      width: 100%;
      margin: 0 auto;
      height: 376px;
      background-size: contain;
    }

    &__head {
    }

    &__title {
      color: #101517;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      margin-top: 24px;
    }

    &__text {
      color: #101517;
      font-size: 8px !important;
      font-weight: 300;
      line-height: 16px;
    }
  }

  .mobile-slider {

    &--sprout {
      background-color: #f5f5f5;

      .slider__arrow {
        top: 25%;
      }

      .slick-dots {
        display: none !important;
      }
    }
  }

  .page__section--landing,
  .page__section--development {
    padding-top: 56px;
  }

  .page__section--development {

    .case-article__desc {
      margin-bottom: 0;
    }
  }

  .page__section--photo {
    min-height: 160px;
    .hero-cases--bottom {
      height: 100%;
      padding-bottom: 44%;
    }
  }

  .page__section--review {
    padding-top: 56px;

    .review__head {
      margin-bottom: 24px;
    }

    .review__footer {
      margin-bottom: 0;
    }
  }

  .page__section--result {
    padding-top: 56px;

    .count-up {

      &__list {
        display: flex;
      }

      &__item {
        flex: 1 1;
      }

      &__number {
        letter-spacing: 1px;
      }
      &__ico {
        margin: 0;
      }
      &__name {
        font-size: 12px;
        font-weight: 300;
      }
    }

    .count-up__number {
      font-size: 36px;
      font-weight: 200;
      letter-spacing: -1px;
    }

    .case-article__footer {
      margin-top: 40px;
    }
  }

  .hero-cases--msfit-bot, .hero-cases--lfm-bot {
    background-size: 100% !important;
  }
  .hero-cases.hero-cases--lfm-bot {
    background-position: 100% !important;
  }

  .slick-track {
    margin: 0 auto;
  }

  .footer-soc {

    &__list {
      justify-content: space-around;
      padding-left: 10px;
      padding-right: 10px;
    }

    &__item {
      transform: scale(1.4);
    }
  }

  .case-article__content {
    .slider__arrow {
      display: none;
    }
    .slider__inner {
      padding: 0;
    }
    .slider__item--bg {
      padding-bottom: 70%;
    }
  }

  //============================================================
  //====================CONTACT PAGE
  //============================================================
  .page__contact {

    .single-page {

      &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
      }

      &__top {
        margin-bottom: 32px;
      }
    }

    .single-page {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }

  .page__contact-info {
    padding-top: 64px;
    padding-bottom: 0;
  }

  .contact-information {

    &__item {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &__info {
      font-size: 16px;
      padding: 0;
    }
  }

  .page__contact-item--offices {
    padding-top: 56px;
  }

  .contact-item {

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
    }

    .main-soc__list {
      transform: scale(0.7);
    }
  }

  .page__contact-item--follow {
    padding: 64px 0;

    .contact-item {

      &__head {
        margin-bottom: 24px;
      }

      &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
      }
    }
  }

  .offices {

    &__bottom {
      padding: 16px 0;
    }

    &__img, &__frame {
      height: 184px;
    }

    &__city {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      padding-bottom: 1px;
    }

    &__address {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .form-contact {
    padding-top: 48px;
  }

  .response-popup {

    .success {

      &__top {
        margin-bottom: 30px;
      }

      &__bottom {
        font-size: 0;
        margin-bottom: 16px;
      }

      &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

      &__info {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding-bottom: 32px;
      }

      &__icon {
        svg {
          transform: scale(1.2);
        }
      }
    }

  }

  //============================================================
  //====================MAIN PAGE
  //============================================================
  .banner-box-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/img/hero.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  .main-container {

    .page__container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .review {

      &__text {
        opacity: 0.9;
        font-size: 10px;
        font-weight: 300;
        line-height: 15px;
      }

      &__name {
        font-size: 9px;
        font-weight: 300;
        line-height: 18px;
      }

      &__body {
        margin-bottom: 23px;
      }

      &__company {
        font-size: 9px;
        font-weight: 500;
        line-height: 18px;
      }

      &__footer {
        margin-bottom: 30px;
      }
    }

    .page__hero {
      height: 310px;
    }
    .hero {

      &__inner {
        margin-top: 40px;
      }

      &__icon {
        bottom: 20px;
      }

      &__title {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
      }
    }

    .info-table {
      margin-top: 48px;

      &__item {
        padding: 48px 16px;
      }

      &__ico-place {
        margin-bottom: 15px;
      }

      &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.8px;
        line-height: 64px;
        text-transform: uppercase;
      }

      &__desc {
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
      }
    }

    .more-services {
      padding-top: 40px;

      .btn-main {
        margin-left: auto;
        margin-right: auto;
        font-size: 100%;
      }
    }

    .case-box-mobile {

      .main-article {
        padding-top: 84px;
      }
    }
  }

  .latest-projects {

    &__img {
      background-position: 0 0;
    }

    &__card {
      height: 409px;
    }

    &__name {
      font-size: 26px;
      font-weight: 500;
      line-height: 31px;
    }
    &__subtitle {
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
    }

    &__icon {
      opacity: 1;
      margin-left: 10px;
    }
  }

  .brands {

    &__title {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 96px;
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex: 1 1 calc(100% / 2);
    }
  }

  .header__container--white {
    padding: 12px 0;
  }

  //============================================================
  //====================SERVICES PAGE
  //============================================================
  .services {

    &__section {
      padding-top: 64px;
    }

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 40px;
    }

    &__desc {
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
    }

    &__list {
      margin-top: 24px;

      .disciplines {
        padding: 0;
        background: #f5f5f5;
        box-shadow: none;

        &__title {
          display: none;
        }

        &__item {
          font-size: 16px;
          line-height: 42px;
        }

        &__name {
          font-size: inherit;
          line-height: inherit;
        }

        &__count {
          font-size: inherit;
          line-height: inherit;
          font-weight: 400;
        }
      }
    }
  }

  .services-hero--main {
    background-size: cover;
    height: 100%;
  }

  .page__services-hero {
    height: 359px;
  }

  .services-hero {
    &__title {
      font-size: 32px;
      font-weight: 500;
      line-height: 48px;
    }

    &__img {
      height: 157px;
    }
  }

  //============================================================
  //====================ABOUT PAGE
  //============================================================
  .main-article {
    padding-top: 64px;
    padding-bottom: 50px;

    &__title {
      letter-spacing: -1px;
      margin-bottom: 24px;
    }

    &__paragraph {
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
    }

    &__footer {
      margin-top: 32px;
    }

    &__container {
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
    }

    .count-up {
      width: 100%;

      &__number {
        letter-spacing: 0;
      }

      &__ico {
        margin: 0;
      }

      &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      &__name {
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        padding-bottom: 0;
      }
    }
  }

  .about-container {

    .main-article {
      padding-bottom: 64px;
    }

    .page__section--photo {

      .hero-cases--about {
        background-image: url("/img/about-photos-m.png");
        background-size: contain;
        height: 235px;
      }
    }

    .page__hero--header-photo {
      height: 310px;
    }

    .hero-cases {
      background-position: 50% -2% !important;
    }

    .columns__item {
      text-align: left;
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .hero {

      &__title {
        padding-bottom: 0;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
      }

      &__container {
        padding-bottom: 75%;
      }
    }

    .page__section--map {
      background-color: #161c26;

      .map {
        height: 208px;
        padding-bottom: 0;
      }

    }

    .page__section--principles {

      .main-article {

        &__title {}
      }

      .principles {

        &__top {
          margin-bottom: 24px;
        }

        &__icon {
          transform: scale(1.5);
        }

        &__item {
          flex-basis: auto;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__title {
          font-size: 20px;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 20px;
        }

        &__desc {
          font-size: 14px;
          font-weight: 300;
          line-height: 28px;
        }
      }
    }

    .main-article__count-up {
      opacity: 1 !important;
    }
  }

  .about-bottom-img {
    width: 100%;
    height: 286px;
    background: url('/img/about-bottom-img.png') no-repeat 50% 50%;
  }
  /*
--------------------------------------------------
  COMMON STYLE
--------------------------------------------------
*/
  br {
    display: none;
  }
  .page__container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .visible-only-mobile {
    display: block !important;
  }

  .hidden-if-mobile {
    display: none !important;
  }

  .text-center {
    text-align: center;
  }

  .font-size-none {
    font-size: 0;
  }

  //============================================================
  //====================OFFSETS
  //============================================================
  .offset-bottom {
    &--lg {
      margin-bottom: 56px;
    }

    &--md {
      margin-bottom: 40px;
    }

    &--sm {
      margin-bottom: 24px;
    }

    &--xs {
      margin-bottom: 16px;
    }
  }

  .offset-top {
    &--lg {
      margin-top: 56px;
    }

    &--md {
      margin-top: 40px;
    }

    &--sm {
      margin-top: 24px;
    }

    &--xs {
      margin-top: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-cases {
    height: 432px;
    background-size: 315%;
    background-position: 50% 30% !important;
    &--life {
      background-size: 274%;
      background-position: 57% 36% !important;
    }
  }
}

@media only screen and (min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {
  .banner-box-main {
    background-image: url("/img/hero@1x.jpg");
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .latest-projects {
    flex-wrap: nowrap;
  }

  .page {

    &__content {

      .hero {

        &__inner {
          margin-top: 0;
        }

        &__title {
          padding-bottom: 60px;
        }
      }
    }
  }

  .about-container .hero__container {
    padding-bottom: 51%;
  }
}