.main-article {
  padding: 155px 0;
  &__head {
    &--main {
      /*animation*/
      opacity: 0;
      transform: translateY(45px);
    }
    &--case {

    }
  }
  @media (max-width: $screen-lg-max) {
    padding: 120px 0;
  }
  @media (max-width: $screen-md-max) {
    padding: 100px 0;
  }
  @media (max-width: $screen-sm-max) {
    padding: 80px 0;
  }
  @media (max-width: $screen-xs-max) {
    padding: 50px 0;
  }
  &__subtitle {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    //font-family: $base-font-family-medium;

    font-size: 1rem;
    text-transform: uppercase;
    color: $theme-secondary-color;
    &--green {
      color: $theme-green-color;
    }
    &--violet {
      color: $theme-violet-color;
    }
  }
  &__title {

    font-size: responsive 2.5rem 3.75rem;
    font-range: 980px 1280px;

    text-align: center;
    line-height: 1.26666667;
    font-weight: 600;
    //font-family: $base-font-family-light;

    margin-bottom: 50px;
    &--sm-p {
      margin-bottom: 20px;
    }

  }
  &__quote {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 147px;
    @media (max-width: $screen-md-max) {
      margin-bottom: 75px;
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 50px;
    }

  }
  &__container {
    font-size: 1rem;
  }
  &__paragraph {
    font-size: 1rem;
    line-height: 2.25;
    color: $base-font-color;
    margin: 0 auto;
    max-width: 768px;
    text-align: center;
    margin-bottom: 50px;

    /*animation*/
    opacity: 0;
    transform: translateY(45px);
  }
  &__count-up {
    text-align: center;

    /*animation*/
    opacity: 0;
    transform: translateY(45px);
  }
  &__footer {
    margin-top: 70px;
    text-align: center;
    &--tech {
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
  }
}